<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="stylesheet" href="../_css/_index.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <script src="https://kit.fontawesome.com/97d7515187.js" crossorigin="anonymous"></script>

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Jen-Yuan (Joy) Huang
              </h1>
              <p>Hello! I am a graduate student at the <a href="https://sai.pku.edu.cn/znxyenglish/">School of Intelligence Science and Technology</a> at <a href="https://english.pku.edu.cn">Peking University</a>, advised by <a href="https://www.cis.pku.edu.cn/szdw/zzjs/lt.htm">Professor Tong Lin</a>. 
                  My research interest lies in computer vision and generative models. I enjoy developing fancy AI-generated content (AIGC) models, and I am currently a member of <a href="https://x.com/instantx_ai">InstantX Team</a>.
              </p>
              <p>
                  I received my Bachelor's degree in Industrial Engineering from <a href="https://www.nju.edu.cn/en/">Nanjing University</a>, with a specialization in optimization and operation research. During my undergraduate studies, I had the opportunity to work closely with <a href="https://www.researchgate.net/profile/Xiaopeng-Luo">Professor Xiaopeng Luo</a>.
              </p>
              <p style="text-align:center">
                <!-- <a target="_blank" href="https://mailhide.io/e/B8TyS"> Email</a> &nbsp;/&nbsp; -->
                <a class="icon-link" href="https://github.com/JY-Joy">
                  <i class="fab fa-github"></i>
                </a> &nbsp;/&nbsp;
                <!-- <a href="https://github.com/JY-Joy">GitHub</a> &nbsp;/&nbsp; -->
                <a href="https://scholar.google.com/citations?user=ZwlvNyQAAAAJ">Google Scholar</a>
                <!-- <a href="https://x.com/Jenyuan_JOY"> X </a> -->
              </p>
              <p style="text-align:center">
                <a href="https://twitter.com/Jenyuan_JOY?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @Jenyuan_JOY</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/profile.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Publications</h2>
              <!-- <p>
                I'm interested in computer vision, machine learning, optimization, graphics and robotics.
              </p> -->
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr onmouseout="instantir_stop()" onmouseover="instantir_start()">
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <div class="one">
                <div class="two" id='instantir_image'>
                  <img src='tn/images/instantir_after.png' alt="project image" style="width:auto; height:auto; max-width:100%;" /></div>
                <img src='tn/images/instantir_before.png' alt="project image" style="width:auto; height:auto; max-width:100%;" />
              </div>
              <script type="text/javascript">
                function instantir_start() {
                  document.getElementById('instantir_image').style.opacity = "1";
                }

                function instantir_stop() {
                  document.getElementById('instantir_image').style.opacity = "0";
                }
                instantir_stop()
              </script>
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>InstantIR: Blind Image Restoration with Instant Generative Reference</h3>
              <br><strong>Jen-Yuan Huang</strong>, Haofan Wang, Qixun Wang, Xu Bai, Hao Ai, Peng Xing, Jen-Tse Huang<br>
              <em>arXiv</em>, 2024
              <br>
              <a href="https://arxiv.org/abs/2410.06551">arXiv</a> /
              <a href="https://jy-joy.github.io/InstantIR/">website</a> /
              <a href="https://github.com/JY-Joy/InstantIR">code</a>
              <p></p>
              <p>
              InstantIR is a novel blind image restoration model based on Stable Diffusion. At each denoising step, we generate a restoration reference from current diffusion latent, which is used to align the low-quality image encoding and condition the generation process.
              </p>
            </td>
          </tr>

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="10">
          <tbody>
            <tr>
              <td style="padding:2.5%;width:100%;vertical-align:middle">
                <h2>Contact</h2>
              </td>
            </tr>
            <tr>
              <td width="67%" valign="top" align="left">
                  <p style="margin-left: 5%;">
                      E-mail: jenyuan@stu.pku.edu.cn<br>
                      Address: Peking University, Beijing, China<br><br><br>
                      <font size="2"><b>Design and source code from</b>: <a href="https://jonbarron.info">Jon Barron's website</a></font>
                  </p>
              </td>
              <td width="33%" valign="top" align="left">
                  <div class="clustrmaps-container">
                    <!-- <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=n&d=eaEgBvAQMrAf--FynlVi-x2LDBNR0FXhbMdzN0xClT8&co=348bc9&cmo=3acc3a&cmn=ff5353&ct=ffffff'></script> -->
                    <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=eaEgBvAQMrAf--FynlVi-x2LDBNR0FXhbMdzN0xClT8"></script>
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table> -->
      </td>
    </tr>
  </table>
</body>

</html>

